* {
    scroll-behavior: smooth
  }

  #logo {
    margin: auto;
    display: block;
    max-width: 50%;
  }
  
  #page-title {
    text-align: center;
  }
  
  .headings {
    font-family: 'Domine', 'Georgia', serif;
    font-size: 32px;
    color: #444444;
    margin-top: 60px;
  }
  
  .internship-wrapper {
    display: flex;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 18px;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
    border-left: 1px solid #ccc;
    border-top: 2px solid #ccc;
    border-right: 2px solid #888;
    border-bottom: 1px solid #888;
  }

  .vertical-align {
    display: flex;
    align-items: center;
  }
  
  /*********************************/
  /********* Sidebar Menu **********/
  /*********************************/
  
  @media (max-width: 849px) {
    body {
      margin: 0;
    }
    .sidebar {
      position: fixed;
      width: 100%;
      background: #2365A9;
    }
    
    .sidebar li {
      padding: 5px 10px;
    }
  }
  @media (min-width: 850px) {
    .sidebar {
      position: fixed;
      width: 250px;
      Height: 100%;
      background: #2365A9
    }
    
    .sidebar li {
      padding: 10px 15px;
    }
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar a {
    display: block;
    text-decoration: none;
    color: #EEFAE5;
    font-size: 16px;
    font-family: "Trebuchet MS";
  }
  
  .sidebar .fa-solid {
    width: 35px;
  }
  
  .main-content {
    padding: 20px;
  }
  
  @media (max-width: 849px) {
    * {
      scroll-margin-top: 170px;
    }
    .main-content {
      margin-top: 180px;
    }
  }
  @media (min-width: 850px) {
    .main-content {
      margin-left: 250px;
      width: 100%
    }
  }
  
  /*********************************/
  /********** Grid Layout **********/
  /*********************************/
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
  .grid-container p {
    margin: 0;
  }

  .span-2 {
    grid-column: span 2;
  }
  
  .span-3 {
    grid-column: span 3;
  }
  
  .span-4 {
    grid-column: span 4;
  }
  
  /*********************************/
  /******** Web Development ********/
  /*********************************/
  
  @media (min-width: 1000px) {
    #web-dev-text-1 {
      grid-column: span 3;
    }
    #web-dev-pic-1 {
      grid-column: span 1;
    }
    #web-dev-pic-2 {
      grid-column: span 1;
    }
    #web-dev-text-2 {
      grid-column: span 3;
    }
    #web-dev-text-3 {
      grid-column: span 2;
    }
    #web-dev-text-4 {
      grid-column: span 2;
    }
    #web-dev-pic-3 {
      grid-column: span 2;
    }
    #web-dev-pic-5 {
      grid-column: span 2;
    }
  }
  @media (min-width: 600px) and (max-width: 999px) {
    #web-dev-text-1 {
      grid-column: span 2;
    }
    #web-dev-pic-1 {
      grid-column: span 2;
    }
    #web-dev-pic-2 {
      grid-column: span 2;
    }
    #web-dev-text-2 {
      grid-column: span 2;
    }
    #web-dev-text-3 {
      grid-column: span 4;
    }
    #web-dev-text-4 {
      grid-column: span 4;
    }
    #web-dev-pic-3 {
      grid-column: span 2;
    }
    #web-dev-pic-5 {
      grid-column: span 2;
    }
  }
  @media (max-width: 599px) {
    #web-dev-text-1 {
      grid-column: span 4;
    }
    #web-dev-pic-1 {
      grid-column: span 4;
    }
    #web-dev-pic-2 {
      grid-column: span 4;
    }
    #web-dev-text-2 {
      grid-column: span 4;
    }
    #web-dev-text-3 {
      grid-column: span 4;
    }
    #web-dev-text-4 {
      grid-column: span 4;
    }
    #web-dev-pic-3 {
      grid-column: span 2;
    }
    #web-dev-pic-5 {
      grid-column: span 2;
    }
  }
  
  /*********************************/
  /********** Photography **********/
  /*********************************/
  
  @media (min-width: 1000px) {
    #photo-pic-1 {
      grid-column-start: 2;
      grid-column-end: 4;
    }
    #photo-text-1 {
      grid-column: span 4;
    }
    #photo-text-2 {
      grid-column: span 4;
    }
    #photo-pic-2 {
      grid-column: span 2;
    }
    #photo-pic-3 {
      grid-column: span 1;
    }
    #photo-pic-4 {
      grid-column: span 1;
    }
  }
  @media (min-width: 600px) and (max-width: 999px) {
    #photo-pic-1 {
      grid-column: span 4;
      padding: 0px 20%;
    }
    #photo-text-1 {
      grid-column: span 4;
    }
    #photo-text-2 {
      grid-column: span 4;
    }
    #photo-pic-2 {
      grid-column: span 2;
    }
    #photo-pic-3 {
      grid-column: span 1;
    }
    #photo-pic-4 {
      grid-column: span 1;
    }
  }
  @media (max-width: 599px) {
    #photo-pic-1 {
      grid-column: span 4;
    }
    #photo-text-1 {
      grid-column: span 4;
    }
    #photo-text-2 {
      grid-column: span 4;
    }
    #photo-pic-2 {
      grid-column: span 4;
      grid-row-start: 5;
    }
    #photo-pic-3 {
      grid-column: span 2;
    }
    #photo-pic-4 {
      grid-column: span 2;
    } 
  }
  
  /*********************************/
  /********* Culinary Arts *********/
  /*********************************/
  
  @media (min-width: 1000px) {
    #food-pic-1 {
      grid-column: span 3;
    }
    #food-pic-2 {
      grid-column: span 1;
    }
    #food-text-1 {
      grid-column: span 4;
    }
    #food-text-2 {
      grid-column: span 4;
    }
    #food-text-3 {
      grid-column: span 2;
      max-height: 400px;
    }
    #food-pic-3 {
      grid-column: span 2;
      max-height: 400px;
    }
    #food-pic-4 {
      grid-column: span 2;
      max-height: 400px;
    }
    #food-text-4 {
      grid-column: span 2;
      max-height: 400px;
    }
  }
  @media (min-width: 600px) and (max-width: 999px) {
    #food-pic-1 {
      grid-column: span 3;
    }
    #food-pic-2 {
      grid-column: span 1;
    }
    #food-text-1 {
      grid-column: span 4;
    }
    #food-text-2 {
      grid-column: span 4;
    }
    #food-text-3 {
      grid-column: span 2;
      max-height: 400px;
    }
    #food-pic-3 {
      grid-column: span 2;
      max-height: 400px;
    }
    #food-pic-4 {
      grid-column: span 2;
      max-height: 400px;
    }
    #food-text-4 {
      grid-column: span 2;
      max-height: 400px;
    }
  }
  @media (max-width: 599px) {
    #food-pic-1 {
      grid-column: span 4;
    }
    #food-pic-2 {
      display: none;
    }
    #food-text-1 {
      grid-column: span 4;
    }
    #food-text-2 {
      grid-column: span 4;
    }
    #food-text-3 {
      grid-column: span 2;
      max-height: 400px;
    }
    #food-pic-3 {
      grid-column: span 2;
      max-height: 400px;
    }
    #food-pic-4 {
      grid-column: span 2;
      max-height: 400px;
    }
    #food-text-4 {
      grid-column: span 2;
      max-height: 400px;
    }
  }
  
  /*********************************/
  /**** Recreational Leadership ****/
  /*********************************/
  
  @media (min-width: 1000px) {
    #leader-text-1 {
      grid-column: span 4;
    }
    #leader-pic-1 {
      grid-column: span 2;
      max-height: 400px;
    }
    #leader-pic-2 {
      grid-column: span 2;
    }
    #leader-text-2 {
      grid-column: span 2;
    }
    #leader-text-3 {
      grid-column: span 2;
    }
    #leader-pic-3 {
      grid-column: span 2;
      max-height: 400px;
    }
    #leader-pic-4 {
      grid-column: span 2;
    }    
  }
  @media (min-width: 600px) and (max-width: 999px) {
    #leader-text-1 {
      grid-column: span 4;
    }
    #leader-pic-1 {
      grid-column: span 2;
      max-height: 400px;
    }
    #leader-pic-2 {
      grid-column: span 2;
    }
    #leader-text-2 {
      grid-column: span 2;
    }
    #leader-text-3 {
      grid-column: span 2;
    }
    #leader-pic-3 {
      grid-column: span 2;
      max-height: 400px;
    }
    #leader-pic-4 {
      grid-column: span 2;
    }   
  }
  @media (max-width: 599px) {
    #leader-text-1 {
      grid-column: span 4;
    }
    #leader-pic-1 {
      grid-column: span 4;
      grid-row-start: 3;
    }
    #leader-pic-2 {
      grid-column: span 4;
    }
    #leader-text-2 {
      grid-column: span 4;
      grid-row-start: 4;
    }
    #leader-text-3 {
      grid-column: span 4;
    }
    #leader-pic-3 {
      grid-column: span 2;
    }
    #leader-pic-4 {
      grid-row-start: 5;
      grid-column: span 2;
    }   
  }